@media (min-width: 576px) {}


@media (min-width: 768px) {}


@media (min-width: 992px) {}


@media (min-width: 1200px) {}

@media (max-height:900px) {
    .first_container {
        padding-top: 150px;
    }

    .first__tittle {
        font-size: 66px;
        max-width: 40%;
    }

    .main-slider__text {
        max-height: 400px;
        height: 100%;
    }

    .main-slider__content {
        font-size: 30px;
    }

    .img_arrow-left {
        padding-bottom: 10px;
    }
}