.container {
	max-width: 1500px;
	padding: 0 30px;
	margin: 0 auto;
}

.site-container {
	overflow: hidden;
}

.flex {
	display: flex;
}

.btn_reset {
	border: none;
	background: transparent;
	cursor: pointer;
}