.first {
    height: 100vh;
    min-height: 600px;
    background-image: url(/img/first-lg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 350px;
}

.first__tittle {
    font-family: SFProDisplay-Bold;
    font-size: 96px;
    line-height: 110%;
    letter-spacing: 0.05em;
    max-width: 50%
}

.first__text {
    font-family: SF Pro Text;
    font-size: 28px;
    line-height: 150%;
    opacity: 0.8;
    padding-top: 40px;
    max-width: 35%;
    letter-spacing: 0.05em;
}

/* forma */

.first__bottom {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(70px);
    border-radius: 20px 20px 0px 0px;
    max-width: 1440px;
    width: 100%;
    height: 201px;
}

.first__forma-tittle {
    font-family: SF Pro Text;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    padding-top: 35px;
    padding-left: 53px;
    letter-spacing: 0.05em;
}

.first__forma_label {
    display: block;
    padding-top: 15px;
    padding-left: 60px;
}

.first__forma-content {
    opacity: 0.3;
    border: 1px solid #E7E7F2;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 16px;
    margin-left: 48px;
    max-width: 1074px;
    width: 100%;
    justify-content: space-between;
}

.first__forma_input {
    margin-left: 60px;
    border: none;
    background: transparent;
    mix-blend-mode: normal;
    color: #FFFFFF;
    outline: transparent;
    padding-bottom: 15px;
}

.first__forma_input::placeholder {
    font-family: SFProText;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #FFFFFF;
}

/*.first__forma_input::-webkit-input-placeholder {
    color: #FFF;
}

 .first__forma_input:focus::-webkit-input-placeholder {
    color: blue
} */

.icon_home::after {
    content: url(/img/house.png);
    position: absolute;
    left: 5%;
    top: 45%;
}

.icon_check-in::after {
    content: url(/img/check-in.png);
    position: absolute;
    left: 23%;
    top: 45%;
}

.icon_person::after {
    content: url(/img/person.png);
    position: absolute;
    left: 62%;
    top: 45%;
}

.block_check-in {
    border-left: 1px solid #E7E7F2;
    border-right: 1px solid #E7E7F2;
}
.block_guests
{
    border-left: 1px solid #E7E7F2;
}
/* .block_address,
.input-address
{    
width: 100%;
max-width: 463px;
} */