.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header__container {
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.header__menu-left,
.header__menu-right {
    display: flex;
    align-items: center;
    margin-right: 95px;
}

.menu-left__item {
    font-size: 18px;
    line-height: 21px;
}

.menu-left__item:not(:last-child) {
    margin-right: 60px;
}

.menu-right__item:not(:last-child) {
    margin-right: 60px;
}

.logo {
    font-family: SFProDisplay-Bold;
    font-size: 24px;
    font-weight: 900;
    line-height: 1px;
    letter-spacing: 0.01em;
}

.header__search {
    background-image: url('/img/search.svg');
    width: 20.31px;
    height: 20.31px;
}